body {
  font-size: 2rem;
  font-family: "Verdana", "Trebuchet MS", "Avenir", "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Generic elements */
a {color: gray;}
a:hover {text-decoration: none;}
a:hover img{border: 1px solid brown;}

/* Generic classes */
.sticky { 
  position: sticky;
  top: 3em;
  left: 3em;
}
.container {
  color: #333;
  width: 80%;
  margin: auto;
  overflow: hidden;
  transition-delay: 0.5s;
  transition-duration: 2s;
}
.small {font-size: 0.3em;}
.centered {text-align: center;}

/* id elements */
#goToTopButton {
  color: black;
  background: url('../img/icons/goToTop.png');
  width: 48px;
  height: 48px;
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
  cursor: pointer;
  padding: 1em;
  border: 0;
}
#goToTopButton:hover {background-color: grey; border-radius: 50%;}

/* Header */
header {
  background-color: white;
  display: flex;
  flex: 0 1 50vh;
  height: 50vh;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
#header-title {
  position: relative;
  animation: slide-from-bottom 3s;
}
#language {
  color: white;
  background-color: black;
}
#language:hover {
  color: brown;
  background-color: white;
}
nav {
  position: relative;
  animation: slide-from-top 3s;
}
nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
header li {
  flex: 1 auto;
  display: inline;
}
header a {
  font-size: 0.6em;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
}
header a:hover {color: white; background-color: black;}

/* Showcase */
#showcase {
  height: 50vh;
  background-image: url('../img/showcase/keyboard.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  position: relative;
  animation: slide-from-bottom 3s;
  display: flex;
  flex: 0 1 50vh;
}
.hidden {
  display: none;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
}
.flex-container>* {
  flex: 1 200px;
}
.service, .workblock {
  font-size: 0.6em;
}
.service h3 {text-align: center;}
/* Services
#services {padding-bottom: 1em;}
.service, .workblock {
  float: left;
  width: 29%;
  font-size: 0.6em;
  padding: 1em;
  display: inline-block;
}
.service h3 {text-align: center;}
*/
/* Contacts */
#contacts {padding-bottom: 1em;}

/* Footer */
footer{
  font-size: 0.5em;
  background: white;
  color: lightgray;
  text-align: center;
  padding: 3em 0;
}
/* Media */
@media(max-width: 768px) {
  body {font-size: 1em;}
  h2 {padding-left: 0;}
  #header-title h1, #language, header nav, header nav li, .container,
  #showcase, #about, #services, .service, #work, .workblock, #contacts,
  footer {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  header {padding-bottom: 1em;}

  #showcase {min-width: 200px; min-height: 200px;}
  #showcase h2 {margin-top: 2em;}
}

/* Animations */
img.slide-from-right, div.slide-from-right, p.slide-from-right {
  position: relative;
  animation: slide-from-right 3s;
}
@keyframes slide-from-right{
  0%   {right: -400%;}
  100% {right: 0px;}
}

img.slide-from-left, div.slide-from-left, p.slide-from-left {
  position: relative;
  animation: slide-from-left 3s;
}
@keyframes slide-from-left{
  0%   {left: -100%;}
  100% {left: 0px;}
}

img.slide-from-top, div.slide-from-top, p.slide-from-top {
  position: relative;
  animation: slide-from-top 3s;
}
@keyframes slide-from-top{
  0%   {top: -100%;}
  100% {top: 0px;}
}

img.slide-from-bottom, div.slide-from-bottom, p.slide-from-bottom {
  position: relative;
  animation: slide-from-bottom 3s;
}
@keyframes slide-from-bottom{
  0%   {bottom: -100%;}
  100% {bottom: 0px;}
}

img.slide-left-right, div.slide-left-right, p.slide-left-right {
  position: relative;
  animation: slide-left-right 3s;
}
@keyframes slide-left-right {
  0%  {left: -100%;}
  50% {left: +100%;}
  100% {left: -0%;}
}
